<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= subject %>
    </title>
    <style>
        .message {
            white-space: pre-line;
        }

        p {
            color: #000000;
        }
    </style>
</head>

<body>
    <p>Subject: <%= subject %>
    </p>
    <p>To: <%= email %>
    </p>
    <p>Cc: <%= cc.join(', ') %></p>
    <p>Bcc: <%= bcc.join(' , ') %></p>
    <hr>
    <p class="message">
        <%= data.message %>
    </p>
</body>
</html>